
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="car" class="com.sathya.springex.Car"> 
    <property name="fuelType" value="petrol"/>
    <property name="maxSpeed" value="100"/>
    </bean>
    
    <bean id="bus" class="com.sathya.springex.Bus"> 
    <property name="busType" value="volvo"/>
    <property name="maxSpeed" value="150"/>
    </bean>
    
     <bean id="traveller" class="com.sathya.springex.Traveller"> 
    <property name="name" value="vijaya"/>
    <property name="mobile" value="9390099383"/>
     <property name="email" value="vijaya@gamil.com"/>
      <property name="vehicle" ref="car"/>
    </bean>
    </beans>